<h1>Angular Reading List of Awesome</h1>

<div class="row">

  <button class="btn btn-default">Create Review</button>
  <hr />

  <hr />

  <ul class="list-unstyled col-sm-8">
    <li class="book row">
      <aside class="col-sm-3">
        <a href="http://www.amazon.com/gp/product/0553593714">
          <img ng-src="http://images.amazon.com/images/P/0553593714.01.ZTZZZZZZ.jpg" alt="Cover of Book Title" class="full">
        </a>
        <p class="goodRating rating">5/5</p>
      </aside>

      <div class="col-sm-9">
        <h3>
          <a href="http://www.amazon.com/gp/product/0553593714">Book Title</a>
        </h3>
        <cite class="text-muted">Written by Author here</cite>

        <p>Book Review</p>

        <ul class="list-unstyled">
          <li>
            <span class="label label-primary">genre</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
